@font-face {
  font-family: "BarlowBold";
  src: local(Arial);
  src: url("../fonts/Barlow-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "BarlowMedium";
  src: local(Arial);
  src: url("../fonts/Barlow-Medium.ttf") format("truetype");
}
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 120px;
  font-family: "BarlowBold";
  letter-spacing: 6px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px 0 0;
  box-sizing: border-box;
}
header .container .logo {
  align-items: center;
  font-size: calc(1rem * 1.5);
  color: #fff;
  text-decoration: none;
}
header .container .logo-bg {
  padding: 10px;
  background-color: #032c9e;
}
header .container .navigation {
  display: flex;
  align-items: center;
  height: 100%;
}
header .container .main-navigation ul {
  display: flex;
  list-style: none;
  padding: 0;
}
header .container .main-navigation a {
  position: relative;
  padding: 0 25px;
  text-decoration: none;
  color: #fff;
}
header .container .main-navigation a:hover::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  right: 0;
  border-bottom: 2px solid #fff;
}
header .container .social-navigation {
  display: flex;
  list-style: none;
  padding: 0 0 0 10px;
}
header .container .social-navigation li {
  padding: 0 13px;
}

.wr-slides {
  position: relative;
  z-index: 9;
  width: 100%;
  padding: 488px 0 439px 0;
  background: linear-gradient(to right, rgba(27, 37, 80, 0.2), rgba(1, 60, 154, 0.85)), url("../images/zachary-nelson-HPYk8X9hh34-unsplash.jpg") no-repeat center/cover;
  filter: contrast(1.35);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 80%);
}
.wr-slides .container {
  display: flex;
  justify-content: space-between;
  max-width: 1480px;
  padding: 0 70px 0 370px;
}
.wr-slides .container .content {
  display: flex;
  flex-direction: column;
}
.wr-slides .container .content .caption {
  width: 600px;
  height: 42px;
  background: linear-gradient(to right, #1b2550 520px, #fb516e 0% 535px, #6aff7f 535px);
}
.wr-slides .container .content .caption h2 {
  margin: 0;
  padding-left: 10px;
  font-family: "BarlowBold";
  font-size: calc(1rem * 2.25);
  letter-spacing: 6px;
  color: #fff;
}
.wr-slides .container .content h1 {
  margin: 0;
  font-family: "BarlowBold";
  font-size: calc(1rem * 7.5);
  color: #fff;
}
.wr-slides .container .content h2 {
  margin: 0;
  font-family: "BarlowMedium";
  font-size: calc(1rem * 2.25);
  color: #fff;
}
.wr-slides .container .content .buttons {
  display: flex;
  align-items: center;
  padding-top: 43px;
}
.wr-slides .container .content .buttons button {
  padding: 26px 62px;
  background-color: transparent;
  border: 4px solid rgba(255, 255, 255, 0.7);
  font-family: "BarlowBold";
  font-size: calc(1rem * 1.125);
  letter-spacing: 6px;
  color: #fff;
  cursor: pointer;
}
.wr-slides .container .content .buttons a {
  padding-left: 30px;
  font-family: "BarlowBold";
  font-size: calc(1rem * 1.125);
  letter-spacing: 6px;
  color: #fff;
  text-decoration: none;
}
.wr-slides .container .content .buttons a:before {
  content: "";
  position: absolute;
  z-index: -1;
  transform: translate(-6px, -6px);
  padding: 6px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.29);
}
.wr-slides .container .content .buttons a:after {
  content: "PLAY ALL SONGS";
  position: absolute;
  padding-left: 20px;
  transform: translate(0, 20px);
}

.wr-album-livedates {
  position: relative;
  z-index: 7;
  width: 100%;
  margin-top: -258px;
  padding: 330px 0 300px 0;
  background: #0f152c;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 95%);
}
.wr-album-livedates .wr-live-dates {
  position: relative;
  z-index: 8;
  width: 100%;
  height: 2180px;
  margin-top: -330px;
  padding: 330px 0 500px 0;
  background-color: #131a37;
  /*background: linear-gradient(to right, rgba(19, 26, 55, 50%), rgba(19, 26, 55, 50%)), url("../images/austin-neill.jpg") 0% 25%; 
  background-repeat: no-repeat;*/
  clip-path: url(#shape1-copy2);
  /*background: url(#shape-1-copy) no-repeat center/cover,
              url(#shape-1) no-repeat center/cover;


  #shape-1-copy {
      width: 2574px;
      height: 2246px;
      fill: url(#linear-gradient-shape-1-copy);
  }

  #shape-1 {
      width: 2676px;
      height: 2422px;
      fill: url(#linear-gradient-shape-1);
  }*/
}

/*# sourceMappingURL=style.css.map */
