@font-face {
  font-family: "BarlowBold";
  src: local(Arial);
  src: url("../fonts/Barlow-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "BarlowMedium";
  src: local(Arial);
  src: url("../fonts/Barlow-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "BarlowSemiBold";
  src: local(Arial);
  src: url("../fonts/Barlow-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoRegular";
  src: local(Arial);
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1857px;
  width: 100%;
  margin: 0 auto;
  padding: 0 19px;
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 140px;
  font-family: "BarlowBold";
  letter-spacing: 3px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}
header .container .logo {
  align-items: center;
  font-size: calc(1rem * 1.5);
  color: #fff;
  letter-spacing: 6px;
  text-decoration: none;
}
header .container .logo-bg {
  padding: 6px 8px 6px 8px;
  margin-right: -4px;
  background-color: #032c9e;
}
header .container .navigation {
  display: flex;
  align-items: center;
  height: 100%;
}
header .container .main-navigation ul {
  display: flex;
  list-style: none;
  padding: 0;
}
header .container .main-navigation a {
  position: relative;
  padding: 0 27px;
  text-decoration: none;
  color: #fff;
}
header .container .main-navigation a:hover::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  right: 0;
  border-bottom: 2px solid #fff;
}
header .container .social-navigation {
  display: flex;
  list-style: none;
  padding: 0;
}
header .container .social-navigation li {
  padding: 0 16px;
}

.wr-slides {
  position: relative;
  z-index: 9;
  width: 100%;
  padding: 488px 0 439px 0;
  background: linear-gradient(to right, rgba(27, 37, 80, 0.2), rgba(1, 60, 154, 0.85)), url("../images/zachary-nelson-HPYk8X9hh34-unsplash.jpg") no-repeat center/cover;
  filter: contrast(1.35);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 81.5%);
}
.wr-slides .container {
  max-width: 1475px;
  width: 100%;
  margin: 0 auto;
  padding: 0 19px;
  display: flex;
  justify-content: space-around;
}
.wr-slides .container .content {
  display: flex;
  flex-direction: column;
}
.wr-slides .container .content .caption {
  width: 600px;
  height: 42px;
  background: linear-gradient(to right, #1b2550 520px, #fb516e 520px, #fb516e 535px, #6aff7f 535px);
}
.wr-slides .container .content .caption h3 {
  margin: 0;
  padding-left: 10px;
  font-family: "BarlowBold";
  font-size: calc(1rem * 2.25);
  letter-spacing: 6px;
  color: #fff;
}
.wr-slides .container .content h1 {
  margin: 0;
  padding-top: 5px;
  font-family: "BarlowBold";
  font-size: calc(1rem * 7.5);
  color: #fff;
}
.wr-slides .container .content h4 {
  margin: 0;
  padding-top: 7px;
  font-family: "BarlowMedium";
  font-size: calc(1rem * 2.25);
  font-weight: 100;
  color: #fff;
}
.wr-slides .container .content .buttons {
  display: flex;
  align-items: center;
  padding-top: 43px;
}
.wr-slides .container .content .buttons button {
  padding: 26px 62px;
  background-color: transparent;
  border: 4px solid rgba(255, 255, 255, 0.7);
  font-family: "BarlowBold";
  font-size: calc(1rem * 1.125);
  letter-spacing: 6px;
  color: #fff;
  cursor: pointer;
}
.wr-slides .container .content .buttons a {
  padding-left: 30px;
  font-family: "BarlowBold";
  font-size: calc(1rem * 1.125);
  letter-spacing: 6px;
  color: #fff;
  text-decoration: none;
}
.wr-slides .container .content .buttons a:before {
  content: "";
  position: absolute;
  z-index: -1;
  transform: translate(-6px, -6px);
  padding: 6px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.29);
}
.wr-slides .container .content .buttons a:after {
  content: "PLAY ALL SONGS";
  position: absolute;
  padding-left: 20px;
  transform: translate(0, 20px);
}

.wr-album-livedates {
  position: relative;
  width: 100%;
  height: 2246px;
  margin-top: -240px;
  padding: 330px 0 300px 0;
  background: #0f152c;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 95%);
}
.wr-album-livedates svg {
  position: absolute;
}
.wr-album-livedates .wr-live-dates {
  position: relative;
  width: 100%;
  margin-top: -330px;
  padding: 312px 0 818px 0;
  background-image: url(../images/ellipse-1-copy-3.png), url(../images/ellipse-1-copy-2.png), url(../images/ellipse-1.png), url(../images/austin-neill.png), url(../images/shape-1.png), url(../images/shape-1-copy.png);
  background-position: 11.5% 39.5%, 5.5% 35%, 125% 68%, 43% -93%, 62% 96%, 64% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
}
.wr-album-livedates .wr-live-dates .container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wr-album-livedates .wr-live-dates .container h2 {
  margin: 0;
  padding-bottom: 27px;
  font-family: "BarlowSemiBold";
  font-size: calc(1rem * 3.75);
  color: #fff;
}
.wr-album-livedates .wr-live-dates .container .divider {
  width: 145px;
  height: 5px;
  margin-bottom: 95px;
  background: linear-gradient(to right, #33cbcc 125px, #032c9e 125px, #032c9e 135px, #6aff7f 135px);
}
.wr-album-livedates .wr-live-dates .container .live-date {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 38px 0;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}
.wr-album-livedates .wr-live-dates .container .live-date .date {
  position: absolute;
  display: flex;
  padding: 10px 23px 10px 22px;
  flex-direction: column;
  font-family: "BarlowSemiBold";
  font-size: calc(1rem * 1.125);
  color: #fff;
}
.wr-album-livedates .wr-live-dates .container .live-date .date .date-number {
  letter-spacing: 6px;
  font-size: calc(1rem * 1.875);
  color: #fb516e;
}
.wr-album-livedates .wr-live-dates .container .live-date .img {
  height: 82px;
  width: 230px;
  border-radius: 10px;
  background: url(../images/melanie-van-leeuwen.jpg) no-repeat center/cover;
  background-position: 78px -14px;
  background-size: 70%;
}
.wr-album-livedates .wr-live-dates .container .live-date .img::before {
  content: "";
  padding: 0 0px 63px 80px;
  background: #1b2550;
  border-radius: 10px 0 0 10px;
}
.wr-album-livedates .wr-live-dates .container .live-date .title {
  margin-left: -60px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}
.wr-album-livedates .wr-live-dates .container .live-date .title h5 {
  margin: 0;
  font-family: "BarlowSemiBold";
  font-size: calc(1rem * 1.625);
  color: #fff;
}
.wr-album-livedates .wr-live-dates .container .live-date .title span {
  padding-top: 15px;
  font-family: "RobotoRegular";
  color: #778fc3;
}
.wr-album-livedates .wr-live-dates .container .live-date .location-and-time {
  padding-left: 105px;
  display: flex;
  flex-direction: column;
}
.wr-album-livedates .wr-live-dates .container .live-date .location-and-time .location {
  padding-top: 10px;
}
.wr-album-livedates .wr-live-dates .container .live-date .location-and-time .location svg {
  width: 24px;
  height: 24px;
  padding-left: 3px;
}
.wr-album-livedates .wr-live-dates .container .live-date .location-and-time .location svg circle, .wr-album-livedates .wr-live-dates .container .live-date .location-and-time .location svg polygon {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-linejoin: miter;
}
.wr-album-livedates .wr-live-dates .container .live-date .location-and-time .location span {
  display: inline-block;
  padding-left: 44px;
  font-family: "RobotoRegular";
  color: #778fc3;
}
.wr-album-livedates .wr-live-dates .container .live-date .location-and-time .time {
  padding-top: 15px;
}
.wr-album-livedates .wr-live-dates .container .live-date .location-and-time .time span {
  display: inline-block;
  padding: 3px 0 0 44px;
  font-family: "RobotoRegular";
  color: #6aff7f;
}
.wr-album-livedates .wr-live-dates .container .live-date .location-and-time .time svg {
  width: 24px;
  height: 24px;
  padding-left: 3px;
}
.wr-album-livedates .wr-live-dates .container .live-date .location-and-time .time svg circle, .wr-album-livedates .wr-live-dates .container .live-date .location-and-time .time svg polyline {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-linejoin: miter;
}
.wr-album-livedates .wr-live-dates .container .live-date .button-normal {
  padding-top: 8px;
}
.wr-album-livedates .wr-live-dates .container .live-date .button-normal button {
  padding: 21px 37px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-family: "BarlowBold";
  font-size: calc(1rem * 0.875);
  letter-spacing: 3px;
  color: #fff;
  cursor: pointer;
}
.wr-album-livedates .wr-live-dates .container .live-date-4 {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 36px 0;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}
.wr-album-livedates .wr-live-dates .container .live-date-4 .date {
  position: absolute;
  display: flex;
  padding: 10px 23px 10px 22px;
  flex-direction: column;
  font-family: "BarlowSemiBold";
  font-size: calc(1rem * 1.125);
  color: #fff;
}
.wr-album-livedates .wr-live-dates .container .live-date-4 .date .date-number {
  font-size: calc(1rem * 1.875);
  color: #fb516e;
  text-align: center;
}
.wr-album-livedates .wr-live-dates .container .live-date-4 .img {
  height: 80px;
  width: 230px;
  border-radius: 10px;
  background: url(../images/william-white.jpg) no-repeat center/cover;
  background-position: 77px -18px;
  background-size: 73%;
}
.wr-album-livedates .wr-live-dates .container .live-date-4 .img::before {
  content: "";
  padding: 0 0px 63px 80px;
  background: #1b2550;
  border-radius: 10px 0 0 10px;
}
.wr-album-livedates .wr-live-dates .container .live-date-4 .title {
  margin-left: -15px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}
.wr-album-livedates .wr-live-dates .container .live-date-4 .title h5 {
  margin: 0;
  font-family: "BarlowSemiBold";
  font-size: calc(1rem * 1.625);
  color: #fff;
}
.wr-album-livedates .wr-live-dates .container .live-date-4 .title span {
  padding-top: 15px;
  font-family: "RobotoRegular";
  color: #778fc3;
}
.wr-album-livedates .wr-live-dates .container .live-date-4 .location-and-time {
  margin-left: 150px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}
.wr-album-livedates .wr-live-dates .container .live-date-4 .location-and-time .location span {
  display: inline-block;
  padding: 3px 0 0 44px;
  font-family: "RobotoRegular";
  color: #778fc3;
}
.wr-album-livedates .wr-live-dates .container .live-date-4 .location-and-time .time {
  padding-top: 21px;
}
.wr-album-livedates .wr-live-dates .container .live-date-4 .location-and-time .time span {
  display: inline-block;
  padding: 3px 0 0 44px;
  font-family: "RobotoRegular";
  color: #fff;
}
.wr-album-livedates .wr-live-dates .container .live-date-4 .button-copy {
  padding-top: 10px;
}
.wr-album-livedates .wr-live-dates .container .live-date-4 .button-copy button {
  padding: 26px 64px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  font-family: "BarlowBold";
  font-size: calc(1rem * 0.875);
  letter-spacing: 6px;
  color: #fb516e;
  cursor: pointer;
}
.wr-album-livedates .wr-live-dates .container .live-date-5 {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 70px 0;
}
.wr-album-livedates .wr-live-dates .container .live-date-5 .date {
  position: absolute;
  display: flex;
  padding: 10px 23px 10px 22px;
  flex-direction: column;
  font-family: "BarlowSemiBold";
  font-size: calc(1rem * 1.125);
  color: #fff;
}
.wr-album-livedates .wr-live-dates .container .live-date-5 .date .date-number {
  letter-spacing: 6px;
  font-size: calc(1rem * 1.875);
  color: #fb516e;
}
.wr-album-livedates .wr-live-dates .container .live-date-5 .img {
  height: 80px;
  width: 230px;
  border-radius: 10px;
  background: url(../images/maelle-ramsay.jpg) no-repeat center/cover;
  background-position: 77px 0px;
  background-size: 65%;
}
.wr-album-livedates .wr-live-dates .container .live-date-5 .img::before {
  content: "";
  padding: 0 0px 63px 80px;
  background: #1b2550;
  border-radius: 10px 0 0 10px;
}
.wr-album-livedates .wr-live-dates .container .live-date-5 .title {
  margin-left: -15px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}
.wr-album-livedates .wr-live-dates .container .live-date-5 .title h5 {
  margin: 0;
  font-family: "BarlowSemiBold";
  font-size: calc(1rem * 1.625);
  color: #fff;
}
.wr-album-livedates .wr-live-dates .container .live-date-5 .title span {
  padding-top: 15px;
  font-family: "RobotoRegular";
  color: #778fc3;
}
.wr-album-livedates .wr-live-dates .container .live-date-5 .location-and-time {
  margin-left: 150px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}
.wr-album-livedates .wr-live-dates .container .live-date-5 .location-and-time .location span {
  display: inline-block;
  padding: 3px 0 0 44px;
  font-family: "RobotoRegular";
  color: #778fc3;
}
.wr-album-livedates .wr-live-dates .container .live-date-5 .location-and-time .time {
  padding-top: 21px;
}
.wr-album-livedates .wr-live-dates .container .live-date-5 .location-and-time .time span {
  display: inline-block;
  padding: 3px 0 0 44px;
  font-family: "RobotoRegular";
  color: #6aff7f;
}
.wr-album-livedates .wr-live-dates .container .live-date-5 .button-normal {
  padding-top: 10px;
}
.wr-album-livedates .wr-live-dates .container .live-date-5 .button-normal button {
  padding: 26px 40px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-family: "BarlowBold";
  font-size: calc(1rem * 0.875);
  letter-spacing: 6px;
  color: #fff;
  cursor: pointer;
}
.wr-album-livedates .wr-live-dates .container .link-view-all-dates {
  text-decoration: none;
  font-family: "BarlowMedium";
  font-size: calc(1rem * 1.125);
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
