@font-face {
  font-family: "BarlowBold";
  src: local(Arial);
  src: url("../fonts/Barlow-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "BarlowMedium";
  src: local(Arial);
  src: url("../fonts/Barlow-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "BarlowSemiBold";
  src: local(Arial);
  src: url("../fonts/Barlow-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoRegular";
  src: local(Arial);
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoLight";
  src: local(Arial);
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1857px;
  width: 100%;
  margin: 0 auto;
  padding: 0 19px;
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 140px;
  font-family: "BarlowBold";
  letter-spacing: 3px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}
header .container .logo {
  align-items: center;
<<<<<<< HEAD
  font-family: "BarlowBold";
=======
>>>>>>> b01aed0f5f92518da3aa8291bfe1b65093e7a79c
  font-size: calc(1rem * 1.5);
  color: #fff;
  letter-spacing: 6px;
  text-decoration: none;
}
<<<<<<< HEAD
header .container .logo .logo-bg {
  padding: 6px 8px 6px 8px;
  margin-right: -4px;
  font-family: "BarlowBold";
  font-size: calc(1rem * 1.5);
  color: #fff;
  letter-spacing: 3px;
=======
header .container .logo-bg {
  padding: 6px 8px 6px 8px;
  margin-right: -4px;
>>>>>>> b01aed0f5f92518da3aa8291bfe1b65093e7a79c
  background-color: #032c9e;
}
header .container .navigation {
  display: flex;
  align-items: center;
  height: 100%;
}
header .container .main-navigation ul {
  display: flex;
  list-style: none;
  padding: 0;
}
header .container .main-navigation a {
  position: relative;
  padding: 0 27px;
  text-decoration: none;
  color: #fff;
}
header .container .main-navigation a:hover::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  right: 0;
  border-bottom: 2px solid #fff;
}
header .container .social-navigation {
  display: flex;
  list-style: none;
  padding: 0;
}
header .container .social-navigation li {
  padding: 0 16px;
}
header .container .social-navigation svg {
  width: 16px;
  height: 16px;
}
header .container .social-navigation svg path, header .container .social-navigation svg circle {
  fill: #fff;
}

.wr-slides {
  position: relative;
  z-index: 9;
  width: 100%;
  padding: 488px 0 439px 0;
  background: linear-gradient(to right, rgba(27, 37, 80, 0.2), rgba(1, 60, 154, 0.85)), url("../images/zachary-nelson-HPYk8X9hh34-unsplash.jpg") no-repeat center/cover;
  filter: contrast(1.35);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 81.5%);
}
.wr-slides .container {
  max-width: 1475px;
  width: 100%;
  margin: 0 auto;
  padding: 0 19px;
  display: flex;
  justify-content: space-around;
}
.wr-slides .container .content {
  display: flex;
  flex-direction: column;
}
.wr-slides .container .content .caption {
  width: 600px;
  height: 42px;
  background: linear-gradient(to right, #1b2550 520px, #fb516e 520px, #fb516e 535px, #6aff7f 535px);
}
.wr-slides .container .content .caption h3 {
  margin: 0;
  padding-left: 10px;
  font-family: "BarlowBold";
  font-size: calc(1rem * 2.25);
  letter-spacing: 6px;
  color: #fff;
}
.wr-slides .container .content h1 {
  margin: 0;
  padding-top: 5px;
  font-family: "BarlowBold";
  font-size: calc(1rem * 7.5);
  color: #fff;
}
.wr-slides .container .content h4 {
  margin: 0;
  padding-top: 7px;
  font-family: "BarlowMedium";
  font-size: calc(1rem * 2.25);
  font-weight: 100;
  color: #fff;
}
.wr-slides .container .content .buttons {
  display: flex;
  align-items: center;
  padding-top: 43px;
}
.wr-slides .container .content .buttons button {
  padding: 26px 62px;
  background-color: transparent;
  border: 4px solid rgba(255, 255, 255, 0.7);
  font-family: "BarlowBold";
  font-size: calc(1rem * 1.125);
  letter-spacing: 6px;
  color: #fff;
  cursor: pointer;
}
.wr-slides .container .content .buttons a {
  padding-left: 30px;
  font-family: "BarlowBold";
  font-size: calc(1rem * 1.125);
  letter-spacing: 6px;
  color: #fff;
  text-decoration: none;
}
.wr-slides .container .content .buttons a svg {
  width: 64px;
  height: 64px;
}
.wr-slides .container .content .buttons a svg circle, .wr-slides .container .content .buttons a svg polygon {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-linejoin: miter;
}
.wr-slides .container .content .buttons a:before {
  content: "";
  position: absolute;
  z-index: -1;
  transform: translate(-6px, -6px);
  padding: 6px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.29);
}
.wr-slides .container .content .buttons a:after {
  content: "PLAY ALL SONGS";
  position: absolute;
  padding-left: 20px;
  transform: translate(0, 20px);
}

.wr-album-livedates {
  position: relative;
  width: 100%;
  margin-top: -240px;
<<<<<<< HEAD
  padding-top: 330px;
=======
  padding: 330px 0 300px 0;
>>>>>>> b01aed0f5f92518da3aa8291bfe1b65093e7a79c
  background: #0f152c;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 95%);
}
.wr-album-livedates svg {
  position: absolute;
}
.wr-album-livedates .wr-live-dates {
  position: relative;
  width: 100%;
  margin-top: -330px;
  padding: 312px 0 818px 0;
  background-image: url(../images/ellipse-1-copy-3.png), url(../images/ellipse-1-copy-2.png), url(../images/ellipse-1.png), url(../images/austin-neill.png), url(../images/shape-1.png), url(../images/shape-1-copy.png);
  background-position: 11.5% 39.5%, 5.5% 35%, 125% 68%, 43% -93%, 62% 96%, 64% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
}
.wr-album-livedates .wr-live-dates .container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wr-album-livedates .wr-live-dates .container h2 {
  margin: 0;
  padding-bottom: 27px;
  font-family: "BarlowSemiBold";
  font-size: calc(1rem * 3.75);
  color: #fff;
}
.wr-album-livedates .wr-live-dates .container .divider {
  width: 145px;
  height: 5px;
  margin-bottom: 95px;
  background: linear-gradient(to right, #33cbcc 125px, #032c9e 125px, #032c9e 135px, #6aff7f 135px);
}
.wr-album-livedates .wr-live-dates .container .live-date {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 38px 0;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}
.wr-album-livedates .wr-live-dates .container .live-date:hover .date-number {
  color: #fff;
}
.wr-album-livedates .wr-live-dates .container .live-date:hover .img::before {
  background: #032c9e;
}
.wr-album-livedates .wr-live-dates .container .live-date:hover button {
  background-color: #032c9e;
  border: 2px solid #032c9e;
}
.wr-album-livedates .wr-live-dates .container .live-date-last {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 38px 0;
  border-bottom: none;
}
.wr-album-livedates .wr-live-dates .container .live-date-last:hover .date-number {
  color: #fff;
}
.wr-album-livedates .wr-live-dates .container .live-date-last:hover .img::before {
  background: #032c9e;
}
.wr-album-livedates .wr-live-dates .container .live-date-last:hover button {
  background-color: #032c9e;
  border: 2px solid #032c9e;
}
.wr-album-livedates .wr-live-dates .container .date {
  position: absolute;
  display: flex;
  padding: 10px 23px 10px 22px;
  flex-direction: column;
  font-family: "BarlowSemiBold";
  font-size: calc(1rem * 1.125);
  color: #fff;
}
.wr-album-livedates .wr-live-dates .container .date .date-number {
  text-align: center;
  letter-spacing: 6px;
  font-size: calc(1rem * 1.875);
  color: #fb516e;
}
.wr-album-livedates .wr-live-dates .container .img {
  height: 82px;
  width: 150px;
}
.wr-album-livedates .wr-live-dates .container .img img {
  max-width: 100%;
  height: auto;
  max-height: 98%;
  vertical-align: top;
  border-radius: 0 10px 10px 0;
}
.wr-album-livedates .wr-live-dates .container .img::before {
  content: "";
  padding: 0 0px 63px 80px;
  background: #1b2550;
  border-radius: 10px 0 0 10px;
}
.wr-album-livedates .wr-live-dates .container .title {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}
.wr-album-livedates .wr-live-dates .container .title h5 {
  margin: 0;
  font-family: "BarlowSemiBold";
  font-size: calc(1rem * 1.625);
  color: #fff;
}
.wr-album-livedates .wr-live-dates .container .title span {
  padding-top: 15px;
  font-family: "RobotoRegular";
  color: #778fc3;
}
.wr-album-livedates .wr-live-dates .container .location-and-time {
  padding-left: 120px;
  display: flex;
  flex-direction: column;
}
.wr-album-livedates .wr-live-dates .container .location-and-time .location {
  padding-top: 10px;
}
.wr-album-livedates .wr-live-dates .container .location-and-time .location svg {
  width: 24px;
  height: 24px;
  padding-left: 3px;
}
.wr-album-livedates .wr-live-dates .container .location-and-time .location svg circle, .wr-album-livedates .wr-live-dates .container .location-and-time .location svg polygon {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-linejoin: miter;
}
.wr-album-livedates .wr-live-dates .container .location-and-time .location span {
  display: inline-block;
  padding-left: 44px;
  font-family: "RobotoRegular";
  color: #778fc3;
}
.wr-album-livedates .wr-live-dates .container .location-and-time .time {
  padding-top: 15px;
}
.wr-album-livedates .wr-live-dates .container .location-and-time .time span {
  display: inline-block;
  padding: 3px 0 0 44px;
  font-family: "RobotoRegular";
  color: #6aff7f;
}
.wr-album-livedates .wr-live-dates .container .location-and-time .time svg {
  width: 24px;
  height: 24px;
  padding-left: 3px;
}
.wr-album-livedates .wr-live-dates .container .location-and-time .time svg circle, .wr-album-livedates .wr-live-dates .container .location-and-time .time svg polyline {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-miterlimit: 10;
  stroke-linejoin: miter;
}
.wr-album-livedates .wr-live-dates .container .button-normal {
  padding-top: 8px;
}
.wr-album-livedates .wr-live-dates .container .button-normal button {
  padding: 21px 37px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-family: "BarlowBold";
  font-size: calc(1rem * 0.875);
  letter-spacing: 3px;
  color: #fff;
  cursor: pointer;
}
.wr-album-livedates .wr-live-dates .container .button-copy {
  padding-top: 8px;
}
.wr-album-livedates .wr-live-dates .container .button-copy button {
  padding: 21px 43px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  font-family: "BarlowBold";
  font-size: calc(1rem * 0.875);
  letter-spacing: 6px;
  color: #fb516e;
  cursor: pointer;
}
.wr-album-livedates .wr-live-dates .container .link-view-all-dates {
  padding-top: 35px;
  text-decoration: none;
  font-family: "BarlowMedium";
  font-size: calc(1rem * 1.125);
  color: #fff;
}
.wr-album-livedates .wr-album {
  position: relative;
  z-index: -1;
  width: 100%;
  margin-top: -650px;
<<<<<<< HEAD
  padding: 616px 0 300px 0;
  background: url(../images/ellipse-1-copy-3.png), url(../images/ellipse-2-copy.png), url(../images/jo-jo.png);
  background-position: 50% 0%, 88% 5%, 0% 8%;
  background-repeat: no-repeat;
  background-size: 182px 182px, 218px 218px, 100%;
=======
  padding: 616px 0 818px 0;
  background: linear-gradient(to top, rgba(15, 21, 44, 0) 0%, #0f152c 100%), linear-gradient(to top, black 0%, rgba(0, 0, 0, 0) 100%), url(../images/jo-jo.jpg);
  background-position: 43% -93%;
  background-repeat: no-repeat;
  background-size: cover;
>>>>>>> b01aed0f5f92518da3aa8291bfe1b65093e7a79c
}
.wr-album-livedates .wr-album .container {
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
  padding: 0 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wr-album-livedates .wr-album .container h2 {
  margin: 0;
  padding-bottom: 26px;
  font-family: "BarlowSemiBold";
  font-size: calc(1rem * 3.75);
  color: #fff;
}
.wr-album-livedates .wr-album .container .divider {
  width: 145px;
  height: 5px;
  background: linear-gradient(to right, #33cbcc 125px, #032c9e 125px, #032c9e 135px, #6aff7f 135px);
}
.wr-album-livedates .wr-album .container span {
  padding-top: 36px;
  font-family: "RobotoLight";
  font-size: calc(1rem * 1.25);
  color: #778fc3;
}
.wr-album-livedates .wr-album .container .album-cover {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 955px;
<<<<<<< HEAD
  padding: 90px 0 25px 0;
=======
  padding-top: 90px;
>>>>>>> b01aed0f5f92518da3aa8291bfe1b65093e7a79c
}
.wr-album-livedates .wr-album .container .album-cover-1 {
  position: relative;
  width: 341px;
  height: 341px;
<<<<<<< HEAD
  margin: 220px 0 0 3px;
=======
  margin: 220px 0 0 11px;
>>>>>>> b01aed0f5f92518da3aa8291bfe1b65093e7a79c
  background: url(../images/i-am-okay-album-cover.jpg), linear-gradient(to bottom, #6aff7f 0%, #6aff7f 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  border-radius: 3px;
}
.wr-album-livedates .wr-album .container .album-cover-1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.8s;
  opacity: 0;
  background: linear-gradient(to top, rgba(26, 36, 80, 0.6) 0%, rgba(26, 36, 80, 0.6) 100%);
  background-size: 100% 100%;
}
<<<<<<< HEAD
.wr-album-livedates .wr-album .container .album-cover-1 .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 124px;
  height: 124px;
  transition: all 0.8s;
  opacity: 0;
}
.wr-album-livedates .wr-album .container .album-cover-1 .play-button circle, .wr-album-livedates .wr-album .container .album-cover-1 .play-button polygon {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-miterlimit: 10;
}
=======
>>>>>>> b01aed0f5f92518da3aa8291bfe1b65093e7a79c
.wr-album-livedates .wr-album .container .album-cover-1:hover:before {
  opacity: 1;
}
.wr-album-livedates .wr-album .container .album-cover-1:hover {
  box-shadow: 10px 10px 54px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
<<<<<<< HEAD
.wr-album-livedates .wr-album .container .album-cover-1:hover .play-button {
  opacity: 1;
}
=======
>>>>>>> b01aed0f5f92518da3aa8291bfe1b65093e7a79c
.wr-album-livedates .wr-album .container .album-cover-2 {
  position: relative;
  width: 430px;
  height: 430px;
  margin: 5px 0 0 30px;
  background: url(../images/all-falls-down-album-cover.jpg), linear-gradient(to bottom, #032c9e 0%, #032c9e 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 60%;
  border-radius: 3px;
}
.wr-album-livedates .wr-album .container .album-cover-2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.8s;
  opacity: 0;
  background: linear-gradient(to top, rgba(26, 36, 80, 0.6) 0%, rgba(26, 36, 80, 0.6) 100%);
  background-size: 100% 100%;
}
<<<<<<< HEAD
.wr-album-livedates .wr-album .container .album-cover-2 .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 124px;
  height: 124px;
  transition: all 0.8s;
  opacity: 0;
}
.wr-album-livedates .wr-album .container .album-cover-2 .play-button circle, .wr-album-livedates .wr-album .container .album-cover-2 .play-button polygon {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-miterlimit: 10;
}
=======
>>>>>>> b01aed0f5f92518da3aa8291bfe1b65093e7a79c
.wr-album-livedates .wr-album .container .album-cover-2:hover:before {
  opacity: 1;
}
.wr-album-livedates .wr-album .container .album-cover-2:hover {
  box-shadow: 10px 10px 54px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
<<<<<<< HEAD
.wr-album-livedates .wr-album .container .album-cover-2:hover .play-button {
  opacity: 1;
}
=======
>>>>>>> b01aed0f5f92518da3aa8291bfe1b65093e7a79c
.wr-album-livedates .wr-album .container .album-cover-3 {
  position: relative;
  width: 430px;
  height: 430px;
  margin: 30px 0 0 30px;
  background: url(../images/dont-let-me-down-cover.jpg), linear-gradient(to bottom, #33cbcc 0%, #33cbcc 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  border-radius: 3px;
  box-shadow: inset 0px 0px 2px 10px rgba(51, 203, 204, 0.3);
}
.wr-album-livedates .wr-album .container .album-cover-3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.8s;
  opacity: 0;
  background: linear-gradient(to top, rgba(26, 36, 80, 0.6) 0%, rgba(26, 36, 80, 0.6) 100%);
  background-size: 100% 100%;
}
<<<<<<< HEAD
.wr-album-livedates .wr-album .container .album-cover-3 .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 124px;
  height: 124px;
  transition: all 0.8s;
  opacity: 0;
}
.wr-album-livedates .wr-album .container .album-cover-3 .play-button circle, .wr-album-livedates .wr-album .container .album-cover-3 .play-button polygon {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-miterlimit: 10;
}
=======
>>>>>>> b01aed0f5f92518da3aa8291bfe1b65093e7a79c
.wr-album-livedates .wr-album .container .album-cover-3:hover:before {
  opacity: 1;
}
.wr-album-livedates .wr-album .container .album-cover-3:hover {
<<<<<<< HEAD
  box-shadow: 10px 10px 54px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.wr-album-livedates .wr-album .container .album-cover-3:hover .play-button {
  opacity: 1;
}
=======
  box-shadow: 10px 10px 54px 3px rgba(0, 0, 0, 0.4), inset 0px 0px 2px 10px rgba(51, 203, 204, 0.3);
  cursor: pointer;
}
>>>>>>> b01aed0f5f92518da3aa8291bfe1b65093e7a79c
.wr-album-livedates .wr-album .container .album-cover-4 {
  position: relative;
  width: 340px;
  height: 340px;
  margin: 340px 0 0 30px;
  background: url(../images/alone-album-cover.jpg), linear-gradient(to bottom, #6aff7f 0%, #6aff7f 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  border-radius: 3px;
}
.wr-album-livedates .wr-album .container .album-cover-4:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.8s;
  opacity: 0;
  background: linear-gradient(to top, rgba(26, 36, 80, 0.6) 0%, rgba(26, 36, 80, 0.6) 100%);
  background-size: 100% 100%;
}
<<<<<<< HEAD
.wr-album-livedates .wr-album .container .album-cover-4 .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 124px;
  height: 124px;
  transition: all 0.8s;
  opacity: 0;
}
.wr-album-livedates .wr-album .container .album-cover-4 .play-button circle, .wr-album-livedates .wr-album .container .album-cover-4 .play-button polygon {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-miterlimit: 10;
}
=======
>>>>>>> b01aed0f5f92518da3aa8291bfe1b65093e7a79c
.wr-album-livedates .wr-album .container .album-cover-4:hover:before {
  opacity: 1;
}
.wr-album-livedates .wr-album .container .album-cover-4:hover {
  box-shadow: 10px 10px 54px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
<<<<<<< HEAD
.wr-album-livedates .wr-album .container .album-cover-4:hover .play-button {
  opacity: 1;
}
.wr-album-livedates .wr-album .container .logo {
  align-items: center;
  font-family: "BarlowBold";
  font-size: calc(1rem * 1.5);
  color: #fff;
  letter-spacing: 6px;
  text-decoration: none;
}
.wr-album-livedates .wr-album .container .logo .logo-bg {
  padding: 6px 8px 6px 8px;
  margin-right: -4px;
  font-family: "BarlowBold";
  font-size: calc(1rem * 1.5);
  color: #fff;
  letter-spacing: 3px;
  background-color: #032c9e;
}
.wr-album-livedates .wr-album .container .link-view-all-albums {
  padding-top: 20px;
  text-decoration: none;
  font-family: "BarlowMedium";
  font-size: calc(1rem * 1.125);
  color: #fff;
}
=======
>>>>>>> b01aed0f5f92518da3aa8291bfe1b65093e7a79c

/*# sourceMappingURL=style.css.map */
